@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}


/*Inicio Container Videos*/

.container-video {
    padding: 1rem;
    width: 17.625rem;
    height: 16.375rem;
}

.container-video img {
    width: 15.625rem;
    height: 8.75rem;
    margin-bottom: 1rem;
}

.container-video-title {
    width: 15.5625rem;
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}

.container-video-title span {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-video-title img {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
}

.container-video-title h1 {
    font-size: 0.875rem;
    display: inline;
    margin-bottom: 0.625rem;
}

.container-video-title span p {    
    font-size: 0.75rem;
    color: #515151;
}

/*Fim Container Videos*/